@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #92FFFF;
}

.header {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 10%;
    background: #88A8F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}